<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li>
                    <a href="#" aria-expanded="false"><span class="hide-menu">Quản lý giáo viên</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Admin/ListTeachers">Xem</a></li>
                        <li><a href="/Admin/AddTeacher">Thêm giáo viên</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false"><span class="hide-menu">Quản lý lớp học</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Admin/ListClasses">Xem</a></li>
                        <li><a href="/Admin/AddClass">Thêm lớp</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false"><span class="hide-menu">Quản lý học viên</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Admin/ListStudents">Xem</a></li>
                        <li><a href="/Admin/AddStudent">Thêm học viên</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" aria-expanded="false"><span class="hide-menu">Quản lý vi phạm</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Admin/ListMistakes">Xem</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->