<!doctype html>
<html>
<head>
    <title>Intro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/others/bootstrap.css">
    <link rel="stylesheet" href="~/css/others/animate.css">
    <link rel="stylesheet" href="~/css/others/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/others/style.css">
</head>
<body>

    <header role="banner">

        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="/Home/Index">Mr Bean</a>

                <div class="collapse navbar-collapse navbar-light">

                    <ul class="navbar-nav absolute-right">
                        <li class="nav-item">
                            <a href="/Home/login" class="nav-link">Login</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url(../../images/bg2.jpg);">
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-8 text-center">

                    <div class="mb-5 element-animate">
                        <h1>Quality is the top priority</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->


    <section class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <h2>KNOWLEDGE GIVING - VALUE SHARING</h2>
                </div>
            </div>

            <div class="row mb-5 align-items-center">

                <div class="col-md-6 overflow order-1">
                    <img src="~/images/intro1.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 order-2"></div>
                <div class="col-md-5 order-3">
                    <h2 class="mb-4">First, We Love To Teach</h2>
                    <p>Học nhiệt tình 📚 - chơi hết mình 🎸.</p>
                    <p>Thầy trò mình là anh em 💞 - anh em mình là thầy trò 💕</p>
                </div>

            </div>

            <div class="row align-items-center">

                <div class="col-md-6 overflow order-3">
                    <img src="~/images/intro2.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 order-2"></div>
                <div class="col-md-5 order-1">
                    <h2 class="mb-4">We Are Passionate About English</h2>
                    <p>Vượt qua những bỡ ngỡ và lúng túng ban đầu, hệ thống tiếng Anh học thuật Mr Bean - chuyên nghiên cứu, đào tạo các chứng chỉ Toeic, B1 Vstep và Ielts - đang không ngừng hoàn thiện và chuyên nghiệp hơn</p>
                </div>

            </div>

        </div>
    </section>
    <!-- END section -->

    <footer class="site-footer" style="background-image: url(../../images/big_image_3.jpg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">
                    <h3>Hotline:</h3>
                    <h3>【 01665.27.29.27 】(tư vấn)</h3>
                    <h3>【 0988.788.168 】(Mr.Bean)</h3>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- loader -->

    <script src="~/js/others/jquery-3.2.1.min.js"></script>
    <script src="~/js/others/jquery-migrate-3.0.0.js"></script>
    <script src="~/js/others/owl.carousel.min.js"></script>
    <script src="~/js/others/jquery.waypoints.min.js"></script>
    <script src="~/js/others/jquery.stellar.min.js"></script>
    <script src="~/js/others/main.js"></script>
</body>
</html>
