<!doctype html>
<html>
<head>
    <title>Intro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/others/bootstrap.css">
    <link rel="stylesheet" href="~/css/others/animate.css">
    <link rel="stylesheet" href="~/css/others/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/others/style.css">
</head>
<body>

    <header role="banner">

        <nav class="navbar navbar-expand-md navbar-dark bg-light">
            <div class="container">
                <a class="navbar-brand absolute" href="index.html">Mr Bean</a>

                <div class="collapse navbar-collapse navbar-light">

                    <ul class="navbar-nav absolute-right">
                        <li class="nav-item">
                            <a href="/Home/login" class="nav-link">Login</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->

    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image:  url(../../images/bg2.jpg);">
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-8 text-center">

                    <div class="mb-5 element-animate">
                        <h1>Quality is the top priority</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->


    <section class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 box">
                    <h2 class="mb-5">Log in with your account</h2>
                    <form action="/Home/LoginHandler" method="post">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="name">Username</label>
                                <input type="text" name="username" class="form-control ">
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 form-group">
                                <label for="name">Password</label>
                                <input type="password" name="password" class="form-control ">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="submit" value="Login" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer" style="background-image: url(../../images/big_image_3.jpg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4">
                    <h3>Hotline:</h3>
                    <h3>【 01665.27.29.27 】(tư vấn)</h3>
                    <h3>【 0988.788.168 】(Mr.Bean)</h3>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->
    <!-- loader -->

    <script src="~/js/others/jquery-3.2.1.min.js"></script>
    <script src="~/js/others/jquery-migrate-3.0.0.js"></script>
    <script src="~/js/others/owl.carousel.min.js"></script>
    <script src="~/js/others/jquery.waypoints.min.js"></script>
    <script src="~/js/others/jquery.stellar.min.js"></script>
    <script src="~/js/others/main.js"></script>
</body>
</html>

